# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#notebook
.ipynb_checkpoints/


*.log

*.db
Toolkit/*.csv
WebApp/db_repository
WebApp/venv

flask-web-app/venv
flask-web-app/credentials
flask-web-app/.aws-sam
