<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>Power Rankings - Yahoo Fantasy Basketball</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="../static/image/app_icon.jpg" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../static/css/screen.css" media="screen" />
</head>
<body>

<div id="header">
	<h1>Power Rankings - </h1>
	<h2>Yahoo Fantasy Basketball</h2>
	<ul>
		<li><a href="{{ url_for('.league', league_id=1) }}">信你邪<span>Alpha 2017 -2018</span></a></li>
		<li><a href="{{ url_for('.league', league_id=2) }}">邪大师<span>New Beginning</span></a></li>
		<li><a href="{{ url_for('.league', league_id=3) }}">真邪门<span>Never Ending</span></a></li>
	</ul>
	<p id="layoutdims">Show by: <a href="{{ url_for('.type', type_id=0) }}">Week</a> | <a href="{{ url_for('.type', type_id=1) }}">Team</a> </p>
</div>
<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
			<!-- Column 1 start -->
			<h2 align="center">第{{status.current_league}}盟
			{% if status.type == 0 %}
			第{{status.current_week}}周
			{% else %}
			{{teams[status.current_team-1]}}
			{% endif %}
			<h2/>
			{% if result != None %}
			<img src="data:image/png;base64,{{ result }}" width="100%">
			{% endif %}
			<!-- Column 1 end -->
		</div>
		<div class="col2">
			<!-- Column 2 start -->
			{% include 'sidebar.html' %}
			<!-- Column 2 end -->
		</div>
	</div>
</div>
<div id="footer">
	<p>This page uses the <a href="http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm">Perfect 'Left Menu' 2 Column Liquid Layout</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a>. View more <a href="http://matthewjamestaylor.com/blog/-website-layouts">website layouts</a> and <a href="http://matthewjamestaylor.com/blog/-web-design">web design articles</a>.</p>
</div>

</body>
</html>
