<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>Power Rankings - Yahoo Fantasy Basketball</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="shortcut icon" href="../static/image/app_icon.jpg" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen" />
</head>
<body>
	<div id="header">
		<div class="container">
			<div id="header-banner">
			<img src="../static/image/cate_focus_pic.jpg" height="40">
			</div>
			<div id="header-nav">
				<ul>
				    <li><a>北境之王</a>

				    </li>

				    <li><a>克城空气换遍全联盟</a>

				    </li>

				    <li>
				        <a>香蕉船</a>
				
				    </li>

				    <li>
				        <a>相信过程</a>

				    </li>
				    <li>
				        <a>Help</a>

				    </li>
				</ul>
			</div>
			<div  id="header-user">
				<ul>
				    <li><a>注销</a>

				    </li>

				    <li><a>斯马钢砸筐</a>

				    </li>
				    
				</ul>
			</div>
        </div>
    </div>
    <div class="container">
        <div id="top-nav">
            <ul>
            	<li><a href="{{ url_for('.league', league_id=1) }}">信你邪<br>Alpha 2017 -2018</a></li>
            	<li><a href="{{ url_for('.league', league_id=2) }}">邪大师<br>New Beginning</a></li>
            	<li><a href="{{ url_for('.league', league_id=3) }}">真邪门<br>Never Ending</a></li>
            </ul>
            <p id="show-type">Show by: <a href="{{ url_for('.type', type_id=0) }}">Week</a> | <a href="{{ url_for('.type', type_id=1) }}">Team</a> </p>
        </div>
        <div id="main">
			<div id="main-sidebar">
				{% include 'sidebar.html' %}
			</div>
			<div id="main-content">
				<h2 align="center">第{{status.current_league}}盟
				{% if status.type == 0 %}
				第{{status.current_week}}周
				{% else %}
				{{teams[status.current_team-1]}}
				{% endif %}
				<h2/>
				{% if result != None %}
				<img src="data:image/png;base64,{{ result }}" width="100%">
				{% endif %}
			</div>
        </div>
    </div>
    <div id="footer" class="container">
		<div id="footer-content">
			<a href="https://github.com/namiszh/fba/tree/master/PowerRanking" target="_blank">GitHub</a>
		</div>
		<div id="footer-bottom">
			
			@copyright 2017
		</div>
    </div>
</body>
</html>
