{% if status.type == 0 %}
    <h1 class="sidebar-title">Weeks</h1>
    <ul id="weeks">
        <br>
        {% for i in range(status.max_week, 0, -1) %}
        {% if i==status.current_week %}<li class="selected">{% else %}<li>{% endif %}<a href="{{ url_for('.week', league_id=status.current_league, week=i) }}">Week {{i}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h1 class="sidebar-title">Teams</h1>
    <ul id="teams">
        <br>
        {% for team in teams %}
        {% if loop.index0+1==status.current_team %}<li class="selected">{% else %}<li>{% endif %}<a href="{{ url_for('.team', league_id=status.current_league, team_id=loop.index0+1) }}">{{team}}</a></li> 
        {% endfor %}
    </ul>
{% endif %}
<p></p>

